* {
    /* meaning do this for all elements 
    it's using to make elements don't change content
    */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

@media(min-width:768px) {
    .container {
        width: 750px;
    }

}

/* 2-medim */
@media(min-width:px) {
    .container {
        width: 970px;
    }

}

/* 3-larg */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }

}

body {
    background-image: url(../image/HDWallpape.jpg);
    background-size: cover;
    /* background-repeat: content; */
    font-family: sans-serif;
}

.Box_Login .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Box_Login .container .form_s {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    width: 320px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 22px;
    border-radius: 40px;
    border: 1px solid white;
    box-shadow: -10px 8px 15px;
}

.imalogo {
    position: absolute;
    width: 184px;
    height: 89px;
    border-radius: 59%;
    top: -45px;
    right: 68px;

}

.form_s h1 {
    padding: 18px 0 20px;
    text-align: center;
    font-family: "pacifco", cursive;
    font-size: 30px;
    color: #cf3a3a;
}

.form_s label {
    font-weight: bold;
    letter-spacing: 0.5px
}

.form_s input {
    width: 238px;
    margin-bottom: 15px;
}

.form_s input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px white solid;
    background: transparent;
    height: 40px;
    color: white;
    font-size: 16px;
}

.form_s input[type="submit"] {
    border: none;
    /* outline: none; */
    height: 40px;
    background: #62861d;
    ;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    font-family: "pacifco", cursive;
}

.form_s input[type="submit"]:hover {
    cursor: pointer;
    background: #63ca0e;
    color: white;

}

.form_s a {
    text-decoration: none;
    font-size: 16px;
    line-height: 51px;
    color: darkgray;

}

.form_s a:hover {
    color: rgb(251, 255, 0);
    font-size: 16px;

}